.input,.textarea
    border-radius: 4px;
    border: 1px solid #a9a9a9;
    box-sizing: border-box;
    color: #606266
    padding 10px
    width 400px
    background #ffffff
.input:focus,.textarea:focus
    outline: none;
    border-color: #409eff
.input:hover{
    cursor pointer
}