.span-contains{
  display: flex
  flex-wrap: wrap
  .span1{
    flex 0 0 11%
    width 11%
    border-top 1px solid #ccc
    border-left 1px solid #cccccc
    box-sizing border-box
  }
  .span2{
    flex 0 0 34%
    width 30%
    border-top 1px solid #ccc
    border-left 1px solid #cccccc
    box-sizing border-box
  }
  .span3{
    flex 0 0 11%
    width 11%
    border-top 1px solid #ccc
    border-left 1px solid #cccccc
    box-sizing border-box    
  }
  .span4{
    flex 0 0 11%
    width 11%
    border-top 1px solid #ccc
    border-left 1px solid #cccccc
    box-sizing border-box
  }
  .span5{
    flex 0 0 11%
    width 11%
    border-top 1px solid #ccc
    border-left 1px solid #cccccc
    box-sizing border-box    
  }
  .span6{
    flex 0 0 11%
    width 11%
    border-top 1px solid #ccc
    border-left 1px solid #cccccc
    box-sizing border-box    
  }
  .span7{
    flex 0 0 11%
    width 11%
    border-top 1px solid #ccc
    border-left 1px solid #cccccc    
    box-sizing border-box
  }
  .span8{
    flex 0 0 100%
    width 100%
  }
}